body{
    margin: 0px;
    padding: 0px;
    /* overflow: hidden; */

}

header{
    width: 100%;
    height: 70px;
    background-color: rgb(241, 247, 245);
    box-shadow: 10px 10px 10px -12px #3c2d2d; 
    display: block;
    font-size: 20px;
}


.batan{
    margin: 0px 0px 0px 20px;
    height: 50px;
  
}
.d-flex h4 {
    margin: 0px 0px 0px 0px;
    font-size: 15px;
}

.d-flex h4 span{
    color: red;
    font-size: 30p;
}
.d-flex img{
    /* margin: 0px 0px 0px 366px; */
    margin: 11px 0px 0px 326px;
}

   .mainslide{
    width: 100%;
    height: 550px;
    background-color: red;
    background-image: url(/assets/img/slidar/search-bg.6e636dfd050f0904\ \(1\).png);
    background-size: cover;
   }
 


   .mainslide-hd{
    font-size: 28px;
    font-weight: bold;
    margin: 80px 0px 0px 10px;
    float: left;
   }
   .mainslide-hd h1 span{
    color: red;
    font-weight: bold;
   }
   .mainslide-hd p{
    font-size: 20px;
    font-weight: bold;
   }


   .mainslide-hd h3{
    font-weight: bold;
   }
   .mainslide-hd h1{
  font-weight: bold;
   }

   .button{
    width: 150px;
    height: 50px;
    border:1px solid;
   }

   .box1{
    width: 100%;
    height: 400px;
    background-color:#359ee9;
   }
   
   .box2{
    width: 60%;
    height:100%;
    float: left;
   }
  .box2 h1{
    color:white;
    margin: 46px 0px 0px 243px;
    font-size: 26px;
    float: left;
   }
.box3{
    width: 50%;
    height: 70%;
    
    margin: 17px 0px 0px 0px;
    float: left;
}
.box3 input{
    margin: 60px 0px 0px 87px;
    width: 347px;
    height: 40px;
}
.box4{
    width: 50%;
    height: 70%;

    margin: 17px 0px 0px 0px;
    float: left;
}
.box4 input{
    margin: 60px 0px 0px 87px;
    width: 347px;
    height: 40px;}
   
.lala{
    margin: 56px 0px 0px 91px;
    width: 339px;
}
.box5{
    width: 40%;
    height: 100%;
    
    float: left;
}
.box5 img{
    width: 437px;
    margin: 60px 0px 0px 84px;
    height: 308px;

}

    




   

.box3 h1{
    margin: 0px 0px 0px 585px;
    font-size: 28px;
    color: #ee344e;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.box3 h2{
    margin: 0px 0px 0px 504px;
    color: #0168b3;
}
.box3 p{
    margin: 0px 0px 0px 74px;
    font-size: 24px;
    color: #3c2d2d;
}
.sli{
    width: 100%;
    height: 600px;
   
}
.sli2{
    width: 32%;
    height: 100%;
    /* background-color: #ee344e; */
    margin: 2px;
    float: left;
   
    /* background-image: url(https://previews.123rf.com/images/mklrnt/mklrnt1901/mklrnt190102307/115395218-full-body-shot-of-young-handsome-man-doctor.jpg);
    background-size: cover; */
}
.sli2 img{
    width: 100%;
    height: 60%;
}

.sli2 h1{
color:#ee314e;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sli2 h2{
color: #0168b3; 
}

.slir2 p{
    color:#626262 ;
}
.WHATHAVE{
    width: 100%;
    height: 800px;
    background-color:rgb(209 201 190);
}
.WHATHAVE h3{
     margin: 0px 0px 0px 600px;
     font-size: 24px;
     color: #ee344e;
}

.WHATHAVE h4{
    margin: 0px 0px 0px 400px;
    color: #0168b3; 
    font-size: 50px;
}


.WHATHAVE h5{
    margin: 30px 0px 0px 100px;
}


.container{
    margin: 100px 0px 0px 0px;
}


.heart h5{
    color: #ee344e;
    font-size: 24px;

}
.heart{
    margin: 0px 0px 0px 100px;}

.heart h6{
    font-size: 30px; 
    color: rgb(1 104 179);

}
.heart p{
    font-size: 19px;
    margin: 30px 0px 0px 0px;
}
.box7{
    width: 647px;
    height: 500px;
    margin: -498px 0px 0px 801px;}
    .box7 img{
        width: 100%;
        height: 100%;
    }
    .Heart button{
        width: 219px;
        height: 80px;
        font-size: 25px;
        color:#0168b3;
        margin: 20px 0px 0px 80px;
        border: none;
        background-color:#ffffff;
        box-shadow: rgb(240, 238, 236) 20px 20px 20px 20px;
    }


    .Heart button img{
        width: 55px;
        margin: -2px 0px 0px -90px;
        height: 48px;
    }
    .Heart button span{
        color: black;

    }
    .card{
        width: 800px;
        height: 500px;
    }
    .box7{
        width: 647px;
        height: 500px;
        margin: -498px 0px 0px 801px;}
        

        .md3{
            height: 300px;
            font-size: 24px;
            background-color: #ffffff;
            box-shadow: rgb(139, 93, 93) 2px 6px 29px -9px;
            /* box-shadow: antiquewhite 1px 12px 2 */
        }
        .md3 h1{
            margin: 0px 0px 0px 250px;
        }
          .md3 img{
            margin: 25px 0px 0px 27px;
            width: 123px;
            height: 94px;
          }
          .md3 h2{
            margin: 49px 0px 0px 0px;
          }
       

         .TESTIMONIALS h1{
            margin: 0px 0px 0px 600px;
            font-size: 24px;
            color: #f0344e;
        }

        .TESTIMONIALS h2{
            margin: 0px 0px 0px 400px;
            font-size: 50px;
            color: #0168b3;
        }

        .TESTIMONIALS p{
            margin: 0px 0px 0px 200px;
            font-size: 20px;
        }

        .md4{
            height: 450px;
            margin: 50px 0px 0px 0px;
            box-shadow: rgb(139, 93, 93) 2px 6px 29px -9px;
        }
        .TESTIMONIALS{

        
        background-color:  #fff5f5;}

        .md4 img{
            height: 112px;
            border-radius: 75px;
            width: 118px;
        }
        
        .md4 h3{
            margin: -94px 0px 0px 150px;
            color: black;}
           
        
        .box11{
           
           width: 99%;
           height: 1px;
           background-color: black;
           margin: 40px 0px 0px 0px;
        }
        .md4 h3 span{
            color: rgb(233, 52, 52);
        }
        .md4 p{
            margin: 0px 0px 0px 0px;
        }
        .BEN IMG{
            width: 100%;
            height: 100%;
        }

          .box16{
            width: 300px;
            height: 300px;
            background-color: black;
          }
        .ts{
            height: 400px;
            margin: 15px 0px 0px 0px;
        }
        .ts img{
            height: 100%;
            width: 100%;
        }
        .ts1{
            height: 600px;
            margin: 15px 0px 0px 0px;
        }

        .ts1 h2{
        
            font-size: 24px;
            color:red;
            margin: 47px 0px 0px 167px;
    float: left;
        }

        .ts1 h3{
            color: rgb(25, 25, 189);
            margin: 7px 0px 0px 155px;
    float: left;
        }
          

        .boxx{
            width: 242px;
            height: 136px;
            margin: 72px 0px 0px -413px;
            /* margin: 99px 0px 0px -328px; */
            float: left;
            box-shadow: rgb(139, 93, 93) 2px 6px 29px -9px;
}


        

        .boxx1{
            width: 242px;
            height: 136px;
             /* background-color: #0168b3; */
            /* margin: 99px 0px 0px -25px; */
            margin: 153px 0px 0px 38px;
            float: left;
          box-shadow: rgb(139, 93, 93) 2px 6px 29px -9px;



        }

        .boxx2{
            width: 242px;
            height: 136px;
          
            /* margin: 15px 0px 0px 122px; */
            margin: -130px 0px 0px 400px;
            float: left;
            box-shadow: rgb(139, 93, 93) 2px 6px 29px -9px;
}


        
        .boxx3{
            width: 242px;
            height: 136px;

            /* margin: -133px 0px 0px 423px; */
            margin: -292px 0px 0px 402px;
            float: left;
            box-shadow: rgb(139, 93, 93) 2px 6px 29px -9px;
}


        
              .boxx img {
                width: 34px;
              }
                   .boxx h4{
                    font-size: 24px;
                    margin: -34px 0px 0px 57px;
                   }
                   .boxx p{
                    font-size: 16px;
                    margin: 2px 0px 0px -50px;
                   }
                   .boxx1 img{
                    width: 34px;}

                    .boxx1 h4{
                        font-size: 24px;
                        margin: -34px 0px 0px 40px;}

                        .boxx1 p{
                            font-size: 14px;
    margin: 2px 0px 0px 6px;}

    .boxx2 img{
        width: 34px;
    }

    .boxx2 h4{
        font-size: 22px;
        margin: -34px 0px 0px 40px;


    }

    .boxx2 p{
        font-size: 14px;
    margin: 2px 0px 0px 6px;


    }

    .boxx3 img{
        width: 34px;
    }

    .boxx3 h4{
        font-size: 24px;
        margin: -34px 0px 0px 40px;

    }
    .boxx3 p{
        font-size: 14px;
        margin: 2px 0px 0px 6px;

    }
         
    .au{
        height: 300px;
        margin: -100px 0px 0px 0px;
    }
      .au img{
        width: 100%;
        height: 100%;
        position: relative;
      }
    
        .box20 {
            width: 169px;
            height: 40px;
            background-color: red;
            position: absolute;
            margin: -317px 0px 0px 105px;
            border-radius: 10px;
        
      }
      .box20 h1{
        font-size: 20px;
        margin: 2px 0px 0px 26px;
        color: white;
    }
    .tst{
        height: 500px;
        margin: 40px 0px 0px 0px;
    }
    .tstt {
        height: 500px;
    }
    .tstt img{
        margin: 41px 0px 0px 68px;

    }
    .tstt p{
        margin: 26px 0px 0px 71px;
        font-size: 19px;
    }
    .tstt h1{
        margin: 28px 0px 0px 61px;
        float: left;
        font-size: 33px;
    
    }
        .tstt ul li{
            color:white;
            margin: 25px 0px 0px 30px;
            float: left;
            font-size: 20px;
            list-style-type: none;
        }
            
        
        
        


   


 
   
  
   






@media screen and (max-width: 480px) {
   
    .rah{
        right: 0;
        position: absolute;
         top: 0;
    }
    .box3 input {
        margin: 11px 0px 0px 28px;
        width: 274px;
        height: 40px;}
        .box2 h1 {
            color: white;
            margin: 46px 0px 0px 39px;
            font-size: 26px;
            float: left;
        }
        .box4 input {
            margin: 117px 0px 0px -83px;
            width: 274px;
            height: 40px;
        }
        .lala{
            margin: 21px 0px 0px 85px;
            width: 139px;}
            .box5{
                display: none;
            }
            .sli2{
                width: 96%;
                height: 100%;}


                .WHATHAVE h3{
                    margin: 0px 0px 0px 100px;
                    font-size: 24px;
                    color: #ee344e;}
                    .WHATHAVE h4{
                        margin: 0px 0px 0px 70px;
                        color: #0168b3; 
                        font-size: 20px;}

                        .WHATHAVE h5{
                            margin: 30px 0px 0px 30px;}


                            .lala{
                                margin: 10px 0px 0px -83px;
                                width: 274px;}
                                

                                .card{
                                    /* width: 413px; */
                                    width: 308px;
                                    height: 700px;
                                    margin: 1213px 0px 0px 0px;
                                }
                               
                                
                                /* .box7 {
                                    width: 416px;
                                    height: 358px;
                                    margin: 14px 0px 0px -2px;} */

                                    /* .heart h6 {
                                        font-size: 20px;
                                        color: rgb(1 104 179);
                                        margin: 7px 0px 0px -56px;}
                                        .heart h5 {
                                            color: #ee344e;
                                            font-size: 20px;}
                                            .heart p {
                                                font-size: 14px;
                                                margin: 30px 0px 0px -95px;} */

                                                /* .Heart button {
                                                    width: 219px;
                                                    height: 80px;
                                                    font-size: 25px;
                                                    color: #0168b3;
                                                    margin: 20px 0px 0px -69px;
                                                    border: none;
                                                    background-color: #ffffff;
                                                    box-shadow: rgb(240, 238, 236) 20px 20px 20px 20px; */

                                                    .box7 img {
                                                        width: 100%;
                                                        height: 100%;}
                                                        .container{
                                                            margin: 100px 0px 0px 0px;}
                                                          .md3{
                                                            margin: 75px 0px 0px 1px;
                                                            box-shadow: 1px 0px 0px 1px;
                                                          }
                                                          .TESTIMONIALS h1 {
                                                            margin: 0px 0px 0px 159px;
                                                            font-size: 24px;
                                                            color: #f0344e;}
                                                            .TESTIMONIALS h2 {
                                                                margin: 0px 0px 0px 70px;
                                                                font-size: 28px;
                                                                color: #0168b3;
                                                            }
                                                            .TESTIMONIALS p {
                                                                margin: 0px 0px 0px -2px;
                                                                font-size: 20px;}
                                                                .boxx {
                                                                    width: 242px;
                                                                    height: 136px;
                                                                    /* margin: 99px 0px 0px -280px; */
                                                                    margin: 152px 0px 0px -317px;
                                                                    float: left;
                                                                    box-shadow: rgb(139, 93, 93) 2px 6px 29px -9px;}
                                                              
                    
                          
                                                                    .boxx1 {
                                                                        width: 242px;
                                                                        height: 136px;
                                                                        /* background-color: #0168b3; */
                                                                        margin: 194px 0px 0px 16px;
                                                                        float: left;
                                                                        box-shadow: rgb(139, 93, 93) 2px 6px 29px -9px;}

                                                                        .boxx3 {
                                                                            width: 242px;
                                                                            height: 136px;
                                                                            /* margin: 6px 0px 0px 123px; */
                                                                            margin: 21px 0px 0px 11px;
                                                                            float: left;
                                                                            box-shadow: rgb(139, 93, 93) 2px 6px 29px -9px;}


                                                                            .ts img {
                                                                                height: 95%;
                                                                                width: 91%;}
                                                                                .box7 img {
                                                                                    width: 100%;
                                                                                    height: 100%;
                                                                                    display: none;}
                                                                                    .au {
                                                                                        height: 300px;
                                                                                        margin: 27px 0px 0px 0px;}



                                                                                        .boxx2 {
                                                                                            width: 242px;
                                                                                            height: 136px;
                                                                                            /* margin: 15px 0px 0px 122px; */
                                                                                            margin: 16px 0px 0px 18px;
                                                                                            float: left;
                                                                                            box-shadow: rgb(139, 93, 93) 2px 6px 29px -9px;
                                                                                        }
                                                                                        .heart p {
                                                                                            font-size: 12px;
                                                                                            margin: 30px 0px 0px 0px;
                                                                                        }
                                                                                        .md4 {
                                                                                            height: 450px;
                                                                                            margin: 116px 0px 0px 0px;
                                                                               box-shadow: rgb(139, 93, 93) 2px 6px 29px -9px;
                                                                                        }



            .Heart button {                                                                           
        margin: 14px 0px 0px -53px;
            }

} 